<html>
	<head>
		<title>Second Treasure BookStore</title>
	</head>
    <body>
            <h1>Second Treasure BookList</h1>
            <div class="row"> 
               <div class="col-md-6">
                    <div class="searchsection input-group">
                      <input type="text" class="form-control" placeholder="Please Enter the Book Name" [(ngModel)] = "searchTerm">
                      <span class="input-group-btn">
                      <button class="btn btn-info" type="button" (click)="searchBook()">Search</button>
                      </span>
                    </div>
                   
              </div>
                
              <div class="col-md-6">
                    <div class="searchsection input-group">
                      <input id="addInputfield" type="text" class="form-control" placeholder="Please Enter the Book Name" [(ngModel)] = "addTerm">
                      <select class="form-control" id="searchdropdown">
                      <option *ngFor="let addedbook of addedBooks">{{addedbook.volumeInfo.title}}</option>  
                      </select>
                      <span class="input-group-btn">
                      <button class="btn btn-success" type="button" (click)="addBook()">Add Book</button>
                      </span>
                    </div>
              </div>
                
                <div class="addsection container">
                  <div class="row">
                    <div class="col-md-10"  *ngFor="let addedbook of addedBooks #y = index" [attr.id]="y" >
                            <span id="bookid" style="display:none">{{addedbook.id}}</span>
                            <div class="thumbnail">
                                <img [src]="addedbook.volumeInfo.imageLinks.thumbnail" [alt]="addedbook.volumeInfo.title">   
                                <div class="caption">
                                  <div class="row">
                                    <div class="col-md-8">
                                    <h4>
                                        <a [routerLink]="['/book-details',addedbook.id]">{{addedbook.volumeInfo.title}}</a>
                                       
                                    </h4>
                                    </div>
                                     <div class="col-md-4">
                                     <button [attr.id]="y" (click)="deleteBook($event);" type="button" class="btn btn-danger">Delete</button>
                                      </div>
                                    <div class="row">
                                            <div class = "col-md-6">
                                            <button [attr.id]="i" (click)="incrementLike($event);" type="button" class="btn btn-info btn-sm">
                                            <span class="glyphicon"></span>Like
                                            </button>
                                            <span id="countnumber">0</span>
                                            </div>
                                      </div>
                                  </div>
                                </div>
                            </div>
                    </div>
                  </div>
                </div>
                <div class="booksection container">
                    <div class="row">
                        <div class="col-md-10"  *ngFor="let book of books #i = index" [attr.id]="i">
                            <span id="bookid" style="display:none">{{book.id}}</span>
                            <div class="thumbnail">
                                <img [src]="book.volumeInfo.imageLinks.thumbnail" [alt]="book.volumeInfo.title">   
                                <div class="caption">
                                  <div class="row">
                                    <div class="col-md-8">
                                    <h4>
                                        <a [routerLink]="['/book-details',book.id]">{{book.volumeInfo.title}}</a>                                   
                                    </h4>
                                    </div>
                                    <div class="col-md-2">
                                     <button [routerLink]="['/book-details',book.id]" type="button" class="btn btn-success">View Details</button>
                                      </div>
                                     <div class="col-md-2">
                                     <button [attr.id]="i" (click)="deleteBook($event);" type="button" class="btn btn-danger">Delete</button>
                                      </div>
                                      <div class="row">
                                            <div class = "col-md-6">
                                            <button [attr.id]="i" (click)="incrementLike($event);" type="button" class="btn btn-info btn-sm">
                                            <span class="glyphicon"></span>Like
                                            </button>
                                            <span id="countnumber">0</span>
                                            </div>
                                      </div>
                                    
                                  </div>
                                </div>
                            </div>
                                
                        </div>
                    </div>  
                </div>
            </div>
    </body>
    
    
</html>